<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <display-name>demo1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Loginpage</display-name>
    <servlet-name>Loginpage</servlet-name>
    <servlet-class>Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Loginpage</servlet-name>
    <url-pattern>/Loginpage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logoutpage</display-name>
    <servlet-name>Logoutpage</servlet-name>
    <servlet-class>Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logoutpage</servlet-name>
    <url-pattern>/Logoutpage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Create</display-name>
    <servlet-name>Create</servlet-name>
    <servlet-class>Create</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Create</servlet-name>
    <url-pattern>/Create</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddProduct</display-name>
    <servlet-name>AddProduct</servlet-name>
    <servlet-class>AddProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProduct</servlet-name>
    <url-pattern>/AddProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Addproduct</display-name>
    <servlet-name>Addproduct</servlet-name>
    <servlet-class>Addproduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Addproduct</servlet-name>
    <url-pattern>/Addproduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Viewproducts</display-name>
    <servlet-name>Viewproducts</servlet-name>
    <servlet-class>Viewproducts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Viewproducts</servlet-name>
    <url-pattern>/Viewproducts</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Viewproduct</display-name>
    <servlet-name>Viewproduct</servlet-name>
    <servlet-class>Viewproduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Viewproduct</servlet-name>
    <url-pattern>/Viewproduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Updatepassword</display-name>
    <servlet-name>Updatepassword</servlet-name>
    <servlet-class>Updatepassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Updatepassword</servlet-name>
    <url-pattern>/Updatepassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Editproduct</display-name>
    <servlet-name>Editproduct</servlet-name>
    <servlet-class>Editproduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Editproduct</servlet-name>
    <url-pattern>/Editproduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Editproducts</display-name>
    <servlet-name>Editproducts</servlet-name>
    <servlet-class>Editproduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Editproducts</servlet-name>
    <url-pattern>/Editproducts</url-pattern>
  </servlet-mapping>
</web-app>